<p>
  <%= content_tag(:label, l(:pdf_export_enable_external_images)) %>
  <%= check_box_tag("settings[enable_external_images]", settings['enable_external_images'], settings['enable_external_images']) %>
</p>
